<div class="loginform">
  <form name="edit_link" method="POST" action="{{post_url}}">
    <div class="url">
      <label for="url">URL</label>
      <input name="url" type="text" value="{{url}}" />
    </div>
    <div class="name">
      <label for="name">Link Name</label>
      <input name="name" type="text" value="{{name}}" />
    </div>
    <div class="description">
      <label for="description">Description</label>
      <input name="description" type="text" />
    </div>
    <div class="private">
      <label for="private">Private?</label>
      <input name="private" type="checkbox"/>
    </div>
    <div class="tags">
      <label for="tags">Tags</label>
      <input class="tagtest" type="text"
        value=""
        data-whitelist="{{#all_tags}}{{name}},{{/all_tags}}" />
    </div>

    <div class="submit">
      <input type="submit" value="Add Link"/>
    </div>
  </form>
</div>
