<div class="config-pane">
  <div class="config">
    <div>
      Sign up for Lament Configuration.<br/>
      <span class="invite">(invite token: {{token}}).</token>
      </span>
  <form name="new-user" method="POST">
    <div>
      <label for="username">Username</label>
      <input name="username" type="text" />
    </div>
    <div>
      <label for="n1">Password</label>
      <input name="n1" type="password" />
    </div>
    <div>
      <label for="n2">Retype password</label>
      <input name="n2" type="password" />
    </div>
    <div>
      <input type="submit" value="Sign up" />
    </div>
  </form>
  </div>
</div>
