<div class="loginform">
  <form name="login" method="POST">
    <div class="url">
      <input name="url" type="text" />
      <label for="url">URL</label>
    </div>
    <div class="name">
      <input name="name" type="text" />
      <label for="name">Link Name</label>
    </div>
    <div class="description">
      <input name="description" type="text" />
      <label for="description">Description</label>
    </div>
    <div class="private">
      <input name=private" type="checkbox"/>
      <label for="private">Private?</label>
    </div>
    <div class="tags">
      <input name="tags" type="text" />
      <label for="tags">Tags</label>
    </div>

    <div class="submit">
      <input type="submit" value="Add Link"/>
    </div>
  </form>
</div>
