<div class="link{{#private}} private{{/private}}">
  <div class="text"><a href="{{url}}">{{name}}</a></div>
  <div class="url"><a href="{{url}}">{{url}}</a></div>
  <div class="taglist">{{#tags}}
    {{#tag}}
      <span class="tag"><a href="{{url}}">{{name}}</a></span>
    {{/tag}}
  {{/tags}}</div>
  <div class="datetime"><a href="{{link_url}}">{{created}}</a></div>
</div>
