<div class="loginform">
  <form name="login" method="POST">

    <div class="userform">
      <label for="username">User</label>
      <input name="username" type="text" />
    </div>

    <div class="password">
      <label for="password">Password</label>
      <input name="password" type="password" />
    </div>

    <div class="submit">
      <input type="submit" value="Login" />
    </div>
  </form>
</div>
