<div class="loginform">
  <form name="login" method="POST">
    <div class="user"><input name="username" type="text" /></div>
    <div class="password"><input name="password" type="password" /></div>
    <div class="submit"><input type="submit" value="Login" /></div>
  </form>
</div>
