<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="/static/lc_64.png" />
    <title>Lament Configuration</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/tagify.css" />
    <script type="text/javascript" src="/static/lc.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="left">
        <span class="logo">
          <a href="/"><img src="/static/lc_32.png" alt="Lament Configuration" /></a></span>
        <span class="sitename"><a href="/">Lament Configuration</a></span>
        {{#user}}
          <span class="user">(<a href="/u/{{name}}">@{{name}}</a>)</span>
        {{/user}}
      </div>
      <div class="right">
        {{#user}}
        <div class="search">
          <input data-user="{{name}}" type="text" id="search_text"/>
        </div>
        {{/user}}
        <div class="srclink">
          <a href="https://git.infinitenegativeutility.com/getty/lament-configuration">source</a>
        </div>
        {{#user}}
          <div class="addlink">
            <a href="/u/{{name}}/l">add link</a>
          </div>
          <div>
            <a href="/u/{{name}}/config">settings</a>
          </div>
          <div class="login">
            <a href="/logout">log out</a>
          </div>
        {{/user}}
        {{^user}}
          <div class="login">
            <a href="/login">log in</a>
          </div>
        {{/user}}
      </div>
    </div>
    <div class="content">
      {{{ content }}}
    </div>
  </body>
</html>
