<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Lament Configuration</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
  </head>
  <body>
    <div class="header">
      <span class="logo">
        <a href="/"><img src="/static/lc_32.png" alt="Lament Configuration" /></a></span>
      <span class="sitename"><a href="/">Lament Configuration</a></span>
      {{#user}}
        <span class="user">(<a href="/u/{{name}}">@{{name}}</a>)</span>
      {{/user}}
      {{^user}}
        <span class="user">not logged in</span>
      {{/user}}
    </div>
    <div class="content">
      {{{ content }}}
    </div>
 </body>
</html>
