@font-face {
    font-family: league-spartan;
    src: url("/static/leaguespartan-bold.ttf");
}

body {
    font-family: "Arial", "Helvetica", sans-serif;
}

.linklist {
    padding: 1em 2em;
}

.user {
    padding: 0em 1em;
}

.addlink {
    padding: 0em 1em;
}
.login {
    padding: 0em 1em;
}

.user a {
    text-decoration: none;
}

.private {
    background-color: #ddd;
}

.link {
    padding: 0.4em 1em;
}

.link .text {
    padding-right: 1em;
    display: block;
}

.link .url {
    padding-left: 0.5em;
}

.link .url a {
    color: #999;
    font-size: small;
}

a {
    color: #8800aaff;
}

.taglist { display: flex; }
.tag {
    padding-right: 0.4em;
}

.tag::before {
    color: #8800aaff;
    content: "#";
}

.link .datetime a {
    color: #999;
    font-size: small;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: solid black;
    padding: 0.2em 2em;
    margin: 0em 1em;
    justify-content: space-between;
}

.header .left {
    align-items: center;
    display: flex;
}

.header .right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.logo {
    padding: 0.5em;
}

.sitename {
    padding-left: 0.5em;
    font-size: large;
    font-family: league-spartan;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.sitename a {
    color: #000;
    text-decoration: none;
}

.loginform {
    padding: 2em;
    display: flex;
    justify-content: center;
}

.config-pane {
    display: flex;
    justify-content: center;
}

.config {
    margin: 2em;
    padding: 2em;
    border: solid black 1px;
}

.invite {
    font-size: small;
    color: #444;
}

label {
    display: inline-block;
    width: 6em;
    text-align: right;
    padding-right: 0.6em;
}

input[type="text"] {
    width: 40em;
}

input[type="password"] {
    width: 40em;
}

input[type="submit"] {
    width: 10em;
}

form > div {
    padding: 0.2em;
}

.submit {
    text-align: center;
}

.msgpage {
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msgpage h1 {
    font-family: league-spartan;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.pagination {
    border-top: solid black;
    display: flex;
    justify-content: space-around;
    font-size: large;
    padding: 0.2em 2em;
    margin: 0em 1em;
}
