@font-face {
    font-family: league-spartan;
    src: url("/static/leaguespartan-bold.ttf");
}

body {
    font-family: "Arial", "Helvetica", sans-serif;
}

.linklist {
    padding: 1em 2em;
}

.user {
    padding: 0em 1em;
}

.user a {
    text-decoration: none;
}

.link {
    padding: 0.4em 1em;
}

.link .text {
    padding-right: 1em;
    display: block;
}

.link .url {
    padding-left: 0.5em;
}

.link .url a {
    color: #999;
    font-size: small;
}

a {
    color: #8800aaff;
}

.taglist { display: flex; }
.tag {
    padding-right: 0.4em;
}

.tag::before {
    color: #8800aaff;
    content: "#";
}

.link .datetime a {
    color: #999;
    font-size: small;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: solid black;
    padding: 0.2em 2em;
    margin: 0em 1em;
}

.logo {
    padding: 0.5em;
}

.sitename {
    padding-left: 0.5em;
    font-size: large;
    font-family: league-spartan;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.sitename a {
    color: #000;
    text-decoration: none;
}
