body {
    font-family: "Arial", "Helvetica", sans-serif;
}

.link {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
}

.link .text {
    padding-right: 1em;
}

.link .url {
    flex: 1;
}

.link .url a {
    color: #999;
    font-size: small;
}

.link taglist {
    color: #900;
}

.link .datetime {
    color: #999;
    font-size: small;
}
